<div class="inner-wrapper">
    <div class="container">
      <div class="classic-tab-panel">
        <!--Button for more information-->
        <!--
        <ul class="nav nav-tabs ">
          <li class="active"> <a href="#mission" data-toggle="tab">About Us</a> </li>
          <li> <a href="#history" data-toggle="tab">Our History</a> </li>
          <li> <a href="#approach" data-toggle="tab">Our Approach</a> </li>
        </ul>-->
        <div class="tab-content">
          <div class="tab-pane active" id="mission">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="img-border">
                  <div class="tes-img"><img src="https://clarisa.cgiar.org/swagger/homepage/assets/img/clarisa.png" alt="Grow Landscape"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <h2>Information <span>  About us</span></h2>
                <p>CLARISA (CGIAR Level Agricultural Results Interoperable System Architecture) Is a web service that helps to transform raw data on CGIAR 
                    research and activities into meaningful information that can shape how we work, and reveal what our impacts are on development –
                    on reducing poverty, improving food and nutrition security for health, and improving natural resources and ecosystem services.</p>
                <p>In programming terms, CLARISA is a REST-API, which means it is a type of web service that enables computer systems to work together over the Internet. CLARISA enables systems like MARLO, MEL and others to communicate with each other, finds common ground in their data, and produces standardized, aggregated information in the language needed for System-level reports. It works by using control lists of standardized key terms, such as those commonly used by the CGIAR Strategy and Results Framework and the UN Sustainable Development Goals

                    Read more about CLARISA. <a href="https://hdl.handle.net/10568/117371" target="_blank"><button type="button" class="btn btn-link">Here</button></a></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="history">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="img-border">
                  <div class="tes-img"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=580%C3%97412&w=580&h=412" alt="Grow Landscape"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <h2>Best of Grow Landscape <span>Our History</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="green">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="approach">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="img-border">
                  <div class="tes-img"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=580%C3%97412&w=580&h=412" alt="Grow Landscape"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <h2>Best of Grow Landscape <span>Our Approach</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="green">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
