<div
  style="
    width: 100%;
    background-color: rgb(199, 199, 199);
    color: black;
    border-radius: 20px;
  "
>
  <p style="font-size: 14px; padding: 20px">
    Please enter the instiitution as the legal entity.
    <br />
    The name of the institution should be in its language.(e.g. For CIAT)
  </p>
</div>
<form [formGroup]="group" (ngSubmit)="onSubmit(group.value)">
  <div style="margin-top: 50px">
    <div>
      <span>Name:*</span>
      <input
        type="text"
        pInputText
        style="width: 100%"
        [required]="true"
        formControlName="name"
      />
    </div>
    <div
      style="margin-top: 10px; width: 100%; display: flex; flex-direction: row"
    >
      <div style="width: 50%">
        <span>Type:*</span>
        <br />
        <p-dropdown
          [options]="type[0]"
          [(ngModel)]="selectedType"
          optionLabel="name"
          [style]="{ width: '90%' }"
          placeholder="Select a Type"
          (onChange)="selectType($event.value)"
          [showClear]="true"
          [required]="true"
          formControlName="institutionHelpOne"
        ></p-dropdown>
        <span *ngIf="isArray(subType) && subType.length > 0">
          <br />
          <br />
          <span style="margin-top: 50px">Subtype:*</span>
          <br />
          <p-dropdown
            [options]="subType"
            [(ngModel)]="selectSubtype"
            optionLabel="name"
            [style]="{ width: '90%' }"
            placeholder="Select a Type"
            (onChange)="selectSubType($event.value)"
            [showClear]="true"
            [required]="true"
            formControlName="institutionHelpTwo"
          ></p-dropdown>
        </span>

        <span
          *ngIf="isArray(subsType) && subsType.length > 0"
          style="margin-top: 30px"
        >
          <br />
          <br />
          <span>Subtype:*</span>
          <br />
          <p-dropdown
            [options]="subsType"
            [(ngModel)]="selectSubstype"
            optionLabel="name"
            [style]="{ width: '90%' }"
            placeholder="Select a Type"
            [showClear]="true"
            [required]="true"
            formControlName="institutionTypeCode"
          ></p-dropdown>
        </span>
      </div>
      <div style="width: 50%">
        <span>Country:*</span>
        <br />

        <p-dropdown
          [options]="cities[0]"
          [(ngModel)]="selectedCity"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select a Country"
          [style]="{ width: '90%' }"
          [required]="true"
          formControlName="hqCountryIso"
        >
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedCity">
              <div>{{ selectedCity.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div
      style="margin-top: 10px; width: 100%; display: flex; flex-direction: row"
    >
      <div style="width: 70%">
        <span>Website:</span>
        <input
          type="text"
          pInputText
          style="width: 100%"
          formControlName="websiteLink"
        />
      </div>
      <div style="width: 30%; margin-left: 20px">
        <span>Acronym:</span>
        <input
          type="text"
          pInputText
          style="width: 100%"
          formControlName="acronym"
        />
      </div>
    </div>
    <div
      style="margin-top: 10px; width: 100%; display: flex; flex-direction: row"
    >
      <div style="width: 50%">
        <span>Category 1:</span>
        <input
          type="text"
          pInputText
          style="width: 100%"
          formControlName="category_1"
        />
      </div>
      <div style="width: 50%; margin-left: 20px">
        <span>Category 2:</span>
        <input
          type="text"
          pInputText
          style="width: 100%"
          formControlName="category_2"
        />
      </div>
    </div>
    <div style="margin-top: 10px">
      <span>Comments:</span><br />
      <textarea
        [rows]="5"
        pInputTextarea
        style="width: 100%"
        formControlName="externalUserComments"
      ></textarea>
    </div>
    <div
      style="
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <p-confirmDialog
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
      ></p-confirmDialog>
      <button
        pButton
        label="Request New institution"
        class="p-button-warning"
        style="border-radius: 30px"
        type="submit"
      ></button>
    </div>
  </div>
</form>

<p-dialog
  header="Header"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">Check that one of the mandatory compos is empty.</p>
  <br />
  <br />
  <p-button
    icon="pi pi-times"
    (click)="display = false"
    label="Close"
  ></p-button>
</p-dialog>
