<div
  style="width: 50%; height: auto; border: 1px solid #f0f0f0; margin-top: 20px"
>
  <div style="margin: 20px">
    <h4 style="font-weight: 500; font-size: 18px">
      {{ informationContent.partnerName }}
    </h4>
    <p style="font-size: 15px">
      <span style="font-weight: 500; font-size: 15.5px">Type: </span>
      {{ informationContent.institutionTypeDTO.name }}
      <br />
      <span style="font-weight: 500; font-size: 15.5px">Country: </span
      >{{ informationContent.countryDTO.name }}<br />
      <span style="font-weight: 500; font-size: 15.5px">Request Source:</span
      >{{ informationContent.requestSource }} <br />
      <span style="font-weight: 500; font-size: 15.5px">MIS: </span
      >{{ informationContent.mis }}<br />
      <span style="font-weight: 500; font-size: 15.5px">Request By:</span> ({{
        informationContent.externalUserName
      }}) {{ informationContent.externalUserMail }}<br />
      <span style="font-weight: 500; font-size: 15.5px">Active since:</span>
      {{ informationContent.created_at }}<br />
    </p>
    <br />
    <p style="font-size: 15px">
      <span style="font-weight: 500; font-size: 15.5px">API Requester:</span>
      User, (user@cgiar.or)
      <br />
      <span style="font-weight: 500; font-size: 15.5px">API Comments:</span>
      {{ informationContent.requestJustification }}
    </p>
    <div
      style="
        width: 100%;
        height: auto;
        background-color: #f0f0f0;
        font-weight: 500;
        font-size: 15px;
      "
    >
      <h4>Comments</h4>
      <p>{{ informationContent.externalUserComments }}</p>
    </div>

    <div
      style="
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <button
        pButton
        icon="pi pi-pencil"
        type="button"
        label="Edit Request"
        style="
          border-radius: 30px;
          background-color: #f0f0f0;
          color: black;
          margin-right: 10px;
          font-size: 15px;
        "
        (click)="showModalDialog()"
      ></button>

      <button
        pButton
        icon="pi pi-check"
        type="button"
        label="Accept"
        style="
          border-radius: 30px;
          background-color: #7ab800;
          color: white;
          margin-right: 10px;
          font-size: 15px;
        "
        (click)="confirm()"
      ></button>
      <button
        pButton
        icon="pi pi-times"
        type="button"
        label="Reject"
        style="
          border-radius: 30px;
          background-color: #eb5b47;
          color: white;
          font-size: 15px;
        "
        (click)="displayModalReject()"
      ></button>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Request"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="content">
    <app-edit-request
      [informationContent]="informationContent"
      (newItemEvent)="addItem($event)"
    ></app-edit-request>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancel"
      style="border-radius: 30px; background-color: #eb5b47; color: white"
      (click)="displayModal = false"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Reject Request"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0"></p>
  <div>
    <div style="width: 100%; height: auto; border: 1px solid #f0f0f0">
      <div style="margin: 20px">
        <h4 style="font-weight: 500; font-size: 18px">
          {{ informationContent.partnerName }}
        </h4>
        <p style="font-size: 15px">
          <span style="font-weight: 500; font-size: 15.5px">Type: </span>
          {{ informationContent.institutionTypeDTO.name }}
          <br />
          <span style="font-weight: 500; font-size: 15.5px">Country: </span
          >{{ informationContent.countryDTO.name }}<br />
          <span style="font-weight: 500; font-size: 15.5px"
            >Request Source:</span
          >{{ informationContent.requestSource }} <br />
          <span style="font-weight: 500; font-size: 15.5px">MIS:</span><br />
          <span style="font-weight: 500; font-size: 15.5px">Request By:</span>
          ({{ informationContent.externalUserName }})
          {{ informationContent.externalUserMail }}<br />
          <span style="font-weight: 500; font-size: 15.5px">Active since:</span>
          Oct 3, 2022 6:03AM<br />
        </p>
        <br />
        <p style="font-size: 15px">
          <span style="font-weight: 500; font-size: 15.5px"
            >API Requester:</span
          >
          User, (user@cgiar.or)
          <br />
          <span style="font-weight: 500; font-size: 15.5px">API Comments:</span>
          {{ informationContent.requestJustification }}
        </p>
        <div
          style="
            width: 100%;
            height: auto;
            background-color: #f0f0f0;
            font-weight: 500;
            font-size: 15px;
          "
        >
          <h4>Comments</h4>
          <p>{{ informationContent.externalUserComments }}</p>
        </div>
      </div>
    </div>
    <div
      class="p-field-radiobutton"
      style="display: flex; flex-direction: row; margin-left: 10px"
    >
      <p-radioButton
        name="send-email"
        value="send-email"
        [(ngModel)]="email"
        inputId="email"
      ></p-radioButton>
      <label style="margin-left: 10px; margin-top: 10px" for="email"
        >Tick to send a justification email.</label
      >
    </div>
    <form [formGroup]="groups" (ngSubmit)="reject(groups.value)">
      <div style="margin-left: 10px; margin-top: 20px">
        <span>Select the reason why:*</span>
        <br />
        <p-dropdown
          [options]="responseRejectOptions"
          [(ngModel)]="selectResponse"
          optionLabel="name"
          [style]="{ width: '100%' }"
          placeholder="Select a reason"
          [showClear]="true"
          [required]="true"
          formControlName="rejectJustification"
        ></p-dropdown>
      </div>
      <div style="margin-left: 10px; margin-top: 20px">
        <span>Justification:*</span><br />
        <textarea
          [rows]="5"
          pInputTextarea
          style="width: 100%"
          formControlName="spec"
        ></textarea>
      </div>
      <p-confirmDialog
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
      ></p-confirmDialog>
      <button
        pButton
        label="Reject"
        style="
          border-radius: 30px;
          background-color: #7ab800;
          color: white;
          margin-right: 10px;
        "
        type="submit"
      ></button>
      <div style="margin-left: 10px; margin-top: 20px">
        <ul style="list-style: circle">
          <li>
            <b>Already exists:</b> "InstitutionRequested" already exists in
            MARLO as "MARLO Institution"
          </li>
          <li>
            <b>Already exists as PPA:</b> "InstitutionRequested" is available in
            MARLO as Managing/PPA Partner.Please contact your PMU or
            "ManagementLiaison Role" in order to add it to the list of project
            partners
          </li>
          <li>
            <b>Not legal:</b> This is a program/project, not an institution. We
            suggest to use "MARLOInstitution" instead.
          </li>
          <li>
            <b>Sub-department:</b> The "InstitutionRequested" is a part of the
            "MARLOInstitution". Therefore, we kindly suggest you to include
            "MARLOInstitution" as sub-department of "MARLOInstitution".
          </li>
          <li>
            <b>Person - Not institution:</b> "PersonRequested" is a person, not
            an institution. We suggest you to include this person under the
            institution that hired him.
          </li>
          <li>
            <b>Country - Office:</b> The "InstitutionRequested" is a part of the
            "MARLOInstitution" in "CountryInstitution". Therefore, we kindly
            suggest you to include the "Country" country office for
            "MARLOInstitution".
          </li>
        </ul>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancel"
      style="border-radius: 30px; background-color: #eb5b47; color: white"
      (click)="display = false"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Confirm"
  [(visible)]="displayConfirm"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0"></p>
  <div>
    <p>Are you sure you want to accept this request?</p>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Continue"
      style="
        border-radius: 30px;
        background-color: #7ab800;
        color: white;
        margin-right: 10px;
      "
      (click)="confirmRequest()"
    ></button>
    <button
      pButton
      type="button"
      label="Cancel"
      style="border-radius: 30px; background-color: #eb5b47; color: white"
      (click)="displayConfirm = false"
    ></button>
  </ng-template>
</p-dialog>

<p-messages id="msgs" timeout="3000" hideTransitionOptions="3000"></p-messages>
