<section class="news">
  <div class="container">
    <h2>CLARISA <span>Dashboards</span></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a
              class="hover-img"
              href="https://sites.google.com/cgxchange.org/performance/home?authuser=0"
              target="_blank"
            >
              <img
                alt="Grow Landscape"
                src="assets/images/dashboardOne.png"
                style="height: 215px; object-fit: cover"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="caption">
            <h3>
              <a
                href="https://sites.google.com/cgxchange.org/performance/home?authuser=0"
                target="_blank"
                >One CGIAR Initiatives results dashboard</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a
              class="hover-img"
              href="https://www.cgiar.org/food-security-impact/results-dashboard/"
              target="_blank"
            >
              <img
                alt="Grow Landscape"
                src="assets/images/dashboardTwo.png"
                style="height: 215px; object-fit: cover"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="caption">
            <h3>
              <a
                href="https://www.cgiar.org/food-security-impact/results-dashboard/"
                target="_blank"
                >CGIAR Results Dashboard (Portfolio 2017-2021)</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a
              class="hover-img"
              href="https://alliancebioversityciat.org/impact/results-dashboard"
              target="_blank"
            >
              <img
                alt="Grow Landscape"
                src="assets/images/dashboardTree.png"
                style="height: 215px; object-fit: cover"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="caption">
            <h3>
              <a
                href="https://alliancebioversityciat.org/impact/results-dashboard"
                target="_blank"
                >Alliance results dashboard</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row2">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a
              class="hover-img"
              href="https://ccafs.cgiar.org/news/how-culture-open-data-helping-more-people-take-climate-smart-agriculture"
              target="_blank"
            >
              <img
                alt="Grow Landscape"
                src="assets/images/dashboardFour.png"
                style="height: 215px; object-fit: cover"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="caption">
            <h3>
              <a
                href="https://sites.google.com/cgxchange.org/performance/home?authuser=0"
                target="_blank"
                >CCAFS knowledge by the numbers</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a class="hover-img" [routerLink]="['../institutionsRequestBi']">
              <img
                alt="Grow Landscape"
                src="assets/images/dashboardFive.jpg"
                style="height: 215px; object-fit: cover"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="caption">
            <h3>
              <a [routerLink]="['../institutionsRequestBi']"
                >Institutions Request</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
