<section class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 about" > <img src="https://clarisa.cgiar.org/swagger/images/cgiarlogo.png" style=" width: '90px'; height:'120px' " alt="Grow Landscape"/>
          <p>CLARISA (CGIAR Level Agricultural Results Interoperable System Architecture) Is a web service </p>
        </div>
        <div class="col-sm-6 col-md-2 footer-nav">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="javascript:void(0)"><i class="fa fa-angle-right hidden-xs"></i> About</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-angle-right hidden-xs"></i> Indicators</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-angle-right hidden-xs"></i> Publications</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-angle-right hidden-xs"></i> Dashborads & API services</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4">
          <h3>Achievements</h3>
          <div class="recent-post">
            <div class="row">
              <div class="col-sm-3"> <a class="hover-img" href="javascript:void(0)"> <img alt="Grow Landscape" src="assets/images/whatIsNew.jpg"> </a> </div>
              <div class="col-sm-9 meta-info">
                <h4><a href="https://cgiar-prms.notion.site/What-is-new-in-CLARISA-943a928675974d8eb5d8e51d3c7467d0" target="_blank">What is new in CLARISA</a></h4>
                
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-3">
          <h3>Contact Info</h3>
          <ul class="address">
            
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
              <p> <a href="mailto:clarisasupport@cgiar.org">clarisasupport@cgiar.org</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <p>CLARISA is being developed by the Innovation & Business Development Team which belongs to the Technology Integration Unit at the Alliance of Bioversity International and CIAT, in close collaboration with the CGIAR System Office, ICARDA and CIP.</p>
    </div>
  </footer>
