<div class="inner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2>CLARISA <span>Institution request</span></h2>
          <p>To harmonize the information, CLARISA's team manages a control list of institutions.  The team vets, reviews, 
            and approves new institutions based on their <a href="https://cgspace.cgiar.org/handle/10568/117370" target="_blank">compliance with internal rules</a> .
            </p>
            <p>Users can follow in real-time and browse the institutions' requests in the CLARISA's dashboard below.</p>
          
        </div>
        <div class="col-sm-4 hidden-xs hidden-sm"> <img src="assets/images/dashcontent.jpg" style=" object-fit: cover; height: 250px;" alt="Grow Landscape" class="tool"/> </div>
      </div>
    </div>
    
  </div>

