<!-- Our services Start -->
<section class="our-services">
  <div class="container">
    <h2>CLARISA<span>Services</span></h2>
    <div id="services" class="owl-theme">
      <div class="service">
        <div class="item">
          <div class="services subservices">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <h3>One CGIAR Control Lists</h3>
            <p>
              CLARISA provides standards in the form of control lists that can
              be used across platforms and systems to enable interoperability.
              These lists include the indicators defined in the Performance
              Results Management Framework of One CGIAR, currently being
              updated.
            </p>
            <a
              routerLink="/clarisa-panel/documentation/One_CGIAR_Control_List"
              style="text-decoration: underline"
              >Go to Control List</a
            >
          </div>
        </div>
        <div class="item">
          <div class="services subservices">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <h3>One CGIAR Operation</h3>
            <p>
              CLARISA supports One CGIAR Business Operations and Finance team by
              providing a service to implement functionalities for the Corporate
              Performance management tool (CPM) to consolidate One CGIAR budget
              and financial reporting.
            </p>
            <a
              routerLink="/clarisa-panel/documentation/One_CGIAR_Operation"
              style="text-decoration: underline"
              >Go to operation</a
            >
          </div>
        </div>
        <div class="item">
          <div
            class="subservices additional"
            style="background-color: rgb(219, 219, 219)"
          >
            <i class="fa fa-globe" aria-hidden="true"></i>
            <h3>Additional Services</h3>
            <p>
              CLARISA shares services with strategic partners who collaborate
              and exposes their tools to the CGIAR Community. Among these
              services is the management of institution lists and the
              Monitoring, Evaluation and Learning Quality Assurance Processor
              (M-QAP).
            </p>
            <a href="javascript:void(0)" style="text-decoration: underline"
              >Comming Soon</a
            >
          </div>
        </div>

        <div class="item">
          <div class="services subservices">
            <i class="fa fa-television" aria-hidden="true"></i>
            <h3>Annual Report Control Lists</h3>
            <p>
              CLARISA provides standards in the form of control lists that can
              be used across platforms and systems to enable interoperability.
              These lists include the indicators defined in the CGIAR Strategy
              and Result Framework 2016-2030.
            </p>
            <a
              href="https://legacy.clarisa.cgiar.org/swagger/api.html"
              target="_blank"
              style="text-decoration: underline"
              >Redirect to Legacy website</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our services End -->
