@media (min-width: 1200px) {
    
    .service{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .item{
        width: 700px;
    }
}

.subservices{
    display: flex;
    height: 470px;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}