<!-- Our services Start -->
<section class="our-services">

    <div class="container">
      <h2>CLARISA<span>Services</span></h2>
      <div id="services"  class=" owl-theme">
        <div class="service">
        <div class="item">
            <div class="services"><i class="fa fa-television" aria-hidden="true"></i>
              <h3>Annual Report Control Lists</h3>
              <p>CLARISA automates what would otherwise involve some laborious processes –
                 by enabling the systems to communicate with each other it eliminates the 
                 need for multiple stages of data entry, and by standardizing and aggregating 
                 the resulting information, it allows internal and external users to explore the data from many different aspects using the CGIAR Results</p>
              <a href="javascript:void(0)">Read More</a> </div>
          </div>
          <div class="item">
            <div class="services"><i class="fa fa-file-text" aria-hidden="true"></i>
              <h3>One CGIAR Control Lists</h3>
              <p>CLARISA allows CGIAR and third party applications to use integrated data(Control List) between centers ,partners and others</p>
              <a href="javascript:void(0)">Read More</a> </div>
          </div>
          <div class="item">
            <div class="services"><i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Additional Services</h3>
              <p>CLARISA shares services with strategic partners who collaborate and exposes their tools for the CGIAR Community.</p>
              <a href="javascript:void(0)">Read More</a> </div>
          </div>
          <div class="item">
            <div class="services"><i class="fa fa-briefcase" aria-hidden="true"></i>
              <h3>One CGIAR Operation</h3>
              <p>CLARISA supports OneCGIAR bussiness Operations and finance global group providing a API to Implement funtionalities to Corportate Performance management tool (CPM) to consolidate One CGIARR Budget and financial reporting.</p>
              <a href="javascript:void(0)">Read More</a> </div>
          </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Our services End --> 


