<div class="inner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2>CLARISA <span>API Services</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, <span class="green">sed diam nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet</span>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          <ul class="unordered-list">
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
            <li>Sed diam nonummynibh euismod tincidunt ut laoreet dolore magna</li>
            <li>Consectetuer adipiscing elit, sed diam nonummy nibh euismod</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
          </ul>
        </div>
        <div class="col-sm-4 hidden-xs hidden-sm"> <img src="assets/images/services.jpg" style=" object-fit: cover; height: 450px;" alt="Grow Landscape" class="tool"/> </div>
      </div>
    </div>
    
  </div>

