<div class="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h2>CLARISA <span>Services</span></h2>
        <p>
          CLARISA's architectural style enables computer systems to work
          together over the Internet. In programming terms, CLARISA is based on
          a REST (Representational State Transfer) - API (Application
          Programming Interface).
        </p>
        <p>
          Thanks to its architecture, CLARISA unifies the language across
          different platforms, overcoming the common challenge of
          non-standardized information.
        </p>
        <p>
          CLARISA uses control lists of standardized key terms, such as
          countries and regions, acronyms, institutions, budget types,
          Sustainable Development Goals (SDGs), and CGIAR technical language to
          enable platforms to speak the same language when exchanging data and
          information.
        </p>
        <p>An overview of CLARISA's services is offered below:</p>
        <ul class="unordered-list">
          <li>
            <a
              routerLink="/clarisa-panel/documentation/One_CGIAR_Control_List"
              style="color: black"
              >One CGIAR Control Lists</a
            >
          </li>
          <li>
            <a
              routerLink="/clarisa-panel/documentation/One_CGIAR_Operation"
              style="color: black"
              >One CGIAR Operation</a
            >
          </li>
          <li><a href="" style="color: black">Additional Services</a></li>
          <li>
            <a
              href="https://clarisa.cgiar.org/swagger/api.html"
              target="_blank"
              style="color: black"
              >Annual Report Control Lists</a
            >

            (Note: take into consideration you will be redirected to the Legacy
            website)
          </li>
        </ul>
      </div>
      <div class="col-sm-4 hidden-xs hidden-sm">
        <img
          src="assets/images/dashcontent.jpg"
          style="object-fit: cover; height: 550px"
          alt="Grow Landscape"
          class="tool"
        />
      </div>
    </div>
  </div>
</div>
