<!-- Our services Start -->
<section class="our-services">
  <div class="container">
    <h2>lead <span>Partners and Collaborators</span></h2>
    <div id="services" class="owl-theme">
      <div class="service">
        <div class="item">
          <div class="services servicespc">
            <a href="https://www.cgiar.org/" target="_blank"
              ><img
                alt="Grow Landscape"
                class="img-par"
                style="object-fit: cover; cursor: pointer"
                src="assets/images/CGIAR.png"
            /></a>
          </div>
        </div>
        <div class="item">
          <div class="services servicespc">
            <a href="https://alliancebioversityciat.org/" target="_blank"
              ><img
                alt="Grow Landscape"
                class="img-par"
                style="object-fit: cover; cursor: pointer; width: 200px"
                src="assets/images/logociat.png"
            /></a>
          </div>
        </div>
        <div class="item">
          <div class="services servicespc">
            <a href="icarda.org" target="_blank"
              ><img
                alt="Grow Landscape"
                class="img-par"
                style="object-fit: cover; cursor: pointer"
                src="assets/images/ICARDA.png"
            /></a>
          </div>
        </div>
        <div class="item">
          <div class="services servicespc">
            <a href="https://cipotato.org/" target="_blank"
              ><img
                alt="Grow Landscape"
                class="img-par"
                style="object-fit: cover; cursor: pointer"
                src="assets/images/CIP.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our services End -->
