<!-- Our services Start -->
<section class="our-services">

    <div class="container">
      <h2>lead <span>Partners and Collaborators</span></h2>
      <div id="services"  class=" owl-theme">
        <div class="service">
        <div class="item">
          <div class="services servicespc">
            <img alt="Grow Landscape" style="object-fit: cover;" src="assets/images/CGIAR.png"></div>
        </div>
        <div class="item">
          <div class="services servicespc">
            <img alt="Grow Landscape" style="object-fit: cover;" src="assets/images/Alliance.png"></div>
        </div>
        <div class="item">
          <div class="services servicespc"> 
            <img alt="Grow Landscape" style="object-fit: cover;" src="assets/images/ICARDA.png"></div>
        </div>
        <div class="item">
          <div class="services servicespc">
            <img alt="Grow Landscape" style="object-fit: cover;" src="assets/images/CIP.png">
             </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Our services End --> 

