<section class="our-services">
    <div class="container">
      <h2>What we do <span>Our Services</span></h2>
      <div id="services" class="owl-carousel owl-theme">
        <div class="item">
          <div class="services"><i class="fa fa-pagelines" aria-hidden="true"></i>
            <h3>Garden Care & Upgrade</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euismod tincidunt ut 
                laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <a href="javascript:void(0)">Read More</a> </div>
        </div>
        
      </div>
    </div>
  </section>