<div class="satisfied-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h2>
          INDICATORS<span style="font-weight: 700; color: #ffc84f"
            >OF DATA COLLECTED</span
          >
        </h2>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="row">
          <app-card-indicator
            [metaDataCard]="item"
            *ngFor="let item of cardIndicator"
          ></app-card-indicator>
        </div>
      </div>
    </div>
  </div>
</div>
