<div class="banner-wrapper">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel"> 
      <!-- Overlay -->
      <div class="overlay"></div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"><img src="https://picsum.photos/1920/701" alt="Grow Landscape"/></div>
          <div class="hero">
            <h1>CLARISA <span>CGIAR Level Agricultural Results</span></h1>
            <h2>Interoperable System Architecture</h2>
            <p>Api rest that assists in information management</p>
            <button class="btn btn-hero animated3">Contact us</button>
            <button class="btn btn-hero animated3">About us</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"><img src="https://picsum.photos/1921/700" alt="Grow Landscape"/></div>
          <div class="hero">
            <h1>CLARISA <span>CGIAR Level Agricultural Results</span></h1>
            <h2>Interoperable System Architecture</h2>
            <p>Api rest that assists in information management</p>
            <button class="btn btn-hero animated3">Contact us</button>
            <button class="btn btn-hero animated3">About us</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"><img src="https://picsum.photos/1920/702" alt="Grow Landscape"/></div>
          <div class="hero">
            <h1>CLARISA <span>CGIAR Level Agricultural Results</span></h1>
            <h2>Interoperable System Architecture</h2>
            <p>Api rest that assists in information management</p>
            <button class="btn btn-hero animated3">Contact us</button>
            <button class="btn btn-hero animated3">About us</button>
          </div>
        </div>
      </div>
      <div class="slide-arrows"><a class="left carousel-control" href="#bs-carousel" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a> <a class="right carousel-control" href="#bs-carousel" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a></div>
    </div>
  </div>
