<div class="banner-wrapper">
  <div
    class="carousel fade-carousel slide"
    data-ride="carousel"
    data-interval="4000"
    id="bs-carousel"
  >
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="slide-1">
          <img
            src="assets/images/bannertow.jpg"
            style="object-fit: cover; height: 500px"
            alt="Grow Landscape"
          />
        </div>
        <div class="hero">
          <h1>
            CLARISA
            <span
              >A web service supporting information management within One CGIAR
            </span>
          </h1>
          <p></p>
          <button
            class="btn btn-hero animated3"
            routerLink="/landing-page/contact-us"
            style="
              background-color: white;
              color: #7ab800;
              border-radius: 20px;
              font-size: 18px;
              font-weight: 700;
            "
          >
            Contact us
          </button>
          <a href="/landing-page/api-services"
            ><button
              class="btn btn-hero animated3"
              style="
                background-color: white;
                color: #7ab800;
                border-radius: 20px;
                font-size: 18px;
                font-weight: 700;
              "
            >
              Services
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
