.tawk-to-button{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    z-index: 2;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    background: #7AB800;
    border-radius: 100px;
    i{color: white; font-size: 20px;}
}