<div class="col-md-4">
    <div class="thumbnail">
      <div class="news-img"><a class="hover-img" href="{{metaDataCardpublications.link}}" target="_blank"> <img alt="Grow Landscape" src="https://picsum.photos/475/318">
        <div class="hover-link">
          <div class="link"> <i class="fa fa-link" aria-hidden="true"></i> </div>
        </div>
        </a>
        <ul class="date">
          <li>{{metaDataCardpublications.date}}</li>
        </ul>
      </div>
      <div class="caption">
        <h3><a href="{{metaDataCardpublications.link}}" target="_blank">{{metaDataCardpublications.name}}</a></h3>
        
        <p class="posted">Posted by <span>{{metaDataCardpublications.posted}}</span></p>
        <p>{{metaDataCardpublications.description}}</p>
        <a href="{{metaDataCardpublications.link}}" target="_blank" class="readmore">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
    </div>
  </div>
