.nav-bar-vertical{
    width: 250px;
    height: 100vh;
    
}

.nav-bar-vertical ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    
    
}

.nav-bar-vertical ul li{
    margin-top: 20px;
    font-weight:bolder ;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    
}

.nav-bar-vertical ul li ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    padding-left: 0;
    display: none;
}
.nav-bar-vertical ul li ul li{
    color: #6bb601;
    margin-top: 20px;
    padding-left: 0;

}