<header class="wow fadeInDown" data-offset-top="197" data-spy="affix"> 
  <!-- Logo and Nav -->
  <div class="logo-wrapper">
    <div class="container">
      <div class="row"> 
        <!-- Logo -->
        <div class="col-sm-12 col-md-3 hidden-xs">
          <div class="logo"><a href="index.html"><img src="assets/images/image.png" alt="Grow Landscape"/></a></div>
          <div class="affix-logo"> <a href="index.html"><img src="assets/images/logocgiar.png" style="margin-top: -15px; width: 80px; height: 80px; border-radius: 10px;" alt="Grow Landscape"/></a></div>
        </div>
        <!-- Navigation -->
        <div class="col-sm-12 col-md-9" >
          <div class="row">
            <div class="col-sm-12 col-md-11">
              <nav class="navbar navbar-default"> 
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <a class="navbar-brand" href="index.html"><img src="assets/images/logocgiar.png" style="width: 70px; height: 70px; " alt="Grow Landscape"/></a> 
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav" style="margin-left: 30px;">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboards <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="['dashboards']">Introduction</a></li>
                        <li><a href="">Institutions request BI</a></li>
                        
                      </ul>
                    </li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Services <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="['api-services']">Introduction</a></li>
                        <li><a href="">Annual Report API Reference</a></li>
                        <li><a href="">One CGIAR Control List</a></li>
                        <li><a href="">One CGIAR Operation</a></li>
                        <li><a href="">Additional Services</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-2-column.html">Contact US</a></li>
                        <li><a href="blog-3-column.html">FAQ List</a></li>
                      </ul>
                    </li>
                    
                  </ul>
                  
                </div>
                
              </nav>
            </div>
            
            <div class="col-sm-12 col-md-1 hidden-sm hidden-xs">
              <div class="search pull-right" style=" font-weight: 600; font-size: 14px;  width: 100px;">
                <a href="blog-2-column.html" style="color: #dcffaa;; font-weight: 600; font-size: 14px;"><i class="fa fa-user"></i>  LOGIN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>