<header class="wow fadeInDown" data-offset-top="197" data-spy="affix"> 
  <!-- Logo and Nav -->
  <div class="logo-wrapper">
    <div class="container">
      <div class="row"> 
        <!-- Logo -->
        <div class="col-sm-12 col-md-3 hidden-xs">
          <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="Grow Landscape"/></a></div>
          <div class="affix-logo"> <a href="index.html"><img src="assets/images/affix-logo.png" alt="Grow Landscape"/></a></div>
        </div>
        <!-- Navigation -->
        <div class="col-sm-12 col-md-9">
          <div class="row">
            <div class="col-sm-12 col-md-11">
              <nav class="navbar navbar-default"> 
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <a class="navbar-brand" href="index.html"><img src="assets/images/mobile-logo.png" alt="Grow Landscape"/></a> </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="404.html">404</a></li>
                      </ul>
                    </li>
                    <li class="dropdown mega-menu"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li>
                          <div class="row">
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li><a href="about-us.html"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Services</a></li>
                                <li><a href="our-team.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Our Team</a></li>
                                <li><a href="faq.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Faq</a></li>
                                <li><a href="testimonials.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Testimonials</a></li>
                                <li><a href="coming-soon.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Coming Soon</a></li>
                                <li><a href="404.html"><i class="fa fa-angle-right" aria-hidden="true"></i> 404</a></li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li><a href="tabs.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Tabs</a></li>
                                <li><a href="accordians.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Accordians</a></li>
                                <li><a href="typography.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Typography</a></li>
                                <li><a href="buttons.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Buttons</a></li>
                                <li><a href="forms.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Forms</a></li>
                                <li><a href="grid.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Grid</a></li>
                                <li><a href="tables.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Tables</a></li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li><a href="blockquote.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Blockquote</a></li>
                                <li><a href="alerts.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Alerts</a></li>
                                <li><a href="blog-2-column.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog 2 Column</a></li>
                                <li><a href="blog-3-column.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog 3 Column</a></li>
                                <li><a href="blog-full-width.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog Full Width</a></li>
                                <li><a href="blog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog Details</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                        <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elements <i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="accordians.html">Accordians</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="forms.html">Forms</a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="blockquote.html">Blockquote</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                      </ul>
                    </li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse --> 
                
              </nav>
            </div>
            <div class="col-sm-12 col-md-1 hidden-sm hidden-xs">
              <div class="search pull-right"> <i class="fa fa-search" aria-hidden="true"></i>
                <div id="search-form-container">
                  <form id="search-form" action="#" style="display: none;" class="">
                    <input type="search" id="search" name="search" placeholder="Search...">
                    <input type="submit" id="search-submit" value="">
                    <span id="close-form" class="close">x</span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>