APP_PORT=3000
APP_PROFILE=LOCAL

DB_HOST='xxx.xxx.xxx.xxx'
DB_PORT=3306
DB_USER='xxxx'
DB_PASS='xxxx'
DB_NAME='xxxx'

JWT_SECRET='xxxx'
JWT_TIME=8h

OST_URL='xxxx'
OST_USER=xxxx
OST_PASS=xxxx

BCRYPT_SALT_ROUNDS=12

SUPPORT_EMAIL=example@test.com

PREFERRED_EMAIL_HOST=myhost.mailer.com
PREFERRED_EMAIL_PORT=25
PREFERRED_EMAIL_USERNAME=username
PREFERRED_EMAIL_PASSWORD=ultrasecret

ALTERNATIVE_EMAIL_HOST=myhost.backup.mailer.com
ALTERNATIVE_EMAIL_PORT=25
ALTERNATIVE_EMAIL_USERNAME=username-backup
ALTERNATIVE_EMAIL_PASSWORD=ultrasecret-backup