
    .tes-img img{
        height: 175px;
        width: auto;
    }
@media (min-width: 1200px){
    .carousel{
        display: flex; 
        flex-direction: row;
    }
    .line{
        border-right: 1px solid gray;
    }
}

@media (max-width: 1199px ){
    .item {
        margin-top: 50px;
    }
}