<section class="testimonials-wrapper">
    <div class="container">
      <h2>Information on <span>Dashboards and API Services</span></h2>
      <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="testimonials"> 
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="img-border">
                        <div class="tes-img"><img src="assets/images/dashboard.jpg" alt="Grow Landscape"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="testimonials-content">
                        <p>CLARISA helps to transform the raw data of CGIAR research and activities into standardized and aggregated information. This is possible as the system represents the reference of interoperability principles and coding systems for other Management Information Systems (MISes) by providing control lists with codes (e.i., unique identifiers), data on common indicators can be seamlessly gathered from the systems adopting these codes and results compiled at a system-wide level.</p>
                        
                        <a [routerLink]="['../dashboards']" ><button type="button" class="btn btn-shadow" style=" color: black; cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Dashboards</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item slides">
                <div class="slide-2">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="img-border">
                        <div class="tes-img"><img src="assets/images/services.png" alt="Grow Landscape"></div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="testimonials-content">
                        <p>CLARISA helps to transform the raw data of CGIAR research and activities into standardized and aggregated information. This is possible as the system represents the reference of interoperability principles and coding systems for other Management Information Systems (MISes) by providing control lists with codes (e.i., unique identifiers), data on common indicators can be seamlessly gathered from the systems adopting these codes and results compiled at a system-wide level.</p>
                        <a [routerLink]="['../api-services']"><button type="button" class="btn btn-shadow" style=" color: black; cursor: pointer;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> API Services</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#testimonials" data-slide-to="0" class="active"></li>
          <li data-target="#testimonials" data-slide-to="1"></li>
        </ol>
      </div>
    </div>
  </section>
