<div class="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h2>CLARISA <span>Dashboards</span></h2>
        <p>
          CLARISA helps collect and transform the raw CGIAR research and
          activities data into standardized and aggregated information. By
          providing control lists with codes (i.e., unique identifiers), data on
          common indicators can be gathered from the systems adopting these
          codes and the results compiled at a system-wide level, including
          through dashboards.
        </p>
        <p>
          Below are some examples of products and platforms adopting CLARISA:
        </p>
        <ul class="unordered-list">
          <li>One CGIAR Initiatives Results Dashboard</li>
          <li>CGIAR Results Dashboard (Portfolio 2017-2021)</li>
          <li>Alliance Results Dashboard</li>
          <li>CCAFS knowledge by the numbers</li>
          <li>Institutions Request</li>
        </ul>
      </div>
      <div class="col-sm-4 hidden-xs hidden-sm">
        <img
          src="assets/images/dashcontent.jpg"
          style="object-fit: cover; height: 450px"
          alt="Grow Landscape"
          class="tool"
        />
      </div>
    </div>
  </div>
</div>
