<div class="inner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2>CLARISA <span>Dashboards</span></h2>
          <p>CLARISA helps to transform the raw data of CGIAR research and activities into standardized and 
            aggregated information. This is possible as the system represents the reference of interoperability 
            principles and coding systems for other Management Information Systems (MISes) by providing control 
            lists with codes (e.i., unique identifiers), data on common indicators can be seamlessly gathered 
            from the systems adopting these codes and results compiled at a system-wide level.</p>
            <p>Refer below to some of the products of adopting CLARISA:</p>
          <ul class="unordered-list">
            <li>One CGIAR Initiatives results dashboard</li>
            <li>CGIAR Results Dashboard (Portfolio 2017-2021)</li>
            <li>Alliance results dashboard</li>
            <li>CCAFS knowledge by the numbers</li>
            <li>Institutions Request</li>
          </ul>
        </div>
        <div class="col-sm-4 hidden-xs hidden-sm"> <img src="assets/images/services.jpg" style=" object-fit: cover; height: 450px;" alt="Grow Landscape" class="tool"/> </div>
      </div>
    </div>
    
  </div>
